<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security-3.1.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
	   http://www.springframework.org/schema/util/spring-util.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/cache
	   http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<util:properties id="dbProps" location="classpath:db.properties" /> 
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="#{dbProps.url}"></property>
		<property name="driverClassName" value="#{dbProps.driver}"></property>
		<property name="username" value="#{dbProps.user}"></property>
		<property name="password" value="#{dbProps.pass}"></property>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:net/xicp/a807966224/**/*Mapper.xml" ></property>

        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            params=value1
                        </value>
                    </property>
                </bean>
            </array>
        </property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="net.xicp.a807966224.backs.daos"></property>
	</bean>
	<!-- <property name="annotationClass" value="net.xicp.a807966224.configs.myRepository.MyBatisRepository"></property> -->
	
	
	<context:component-scan base-package="net.xicp.a807966224"/>
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter" />
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
    	<property name="config">
    		<bean class="com.google.code.kaptcha.util.Config">
    			<constructor-arg>
    				<props>
    					<prop key="kaptcha.border">no</prop>
    					<prop key="kaptcha.border.color">105,179,90</prop>
    					<prop key="kaptcha.textproducer.font.color">blue</prop>
    					<prop key="kaptcha.image.width">125</prop>
    					<prop key="kaptcha.textproducer.char.space">4</prop>
                        <prop key="kaptcha.image.height">35</prop>
    					<prop key="kaptcha.height">25</prop>
                        <prop key="kaptcha.obsurificator.impl">com.google.code.kaptcha.impl.WaterRipple</prop>
                        <prop key="kaptcha.noise.color">white</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
    					<prop key="kaptcha.textproducer.font.size">35</prop>
    					<prop key="kaptcha.session.key">code</prop>
    					<prop key="kaptcha.textproducer.char.length">4</prop>
    					<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
    				</props>
    			</constructor-arg>
    		</bean>
    	</property>
    </bean>
    
    <cache:annotation-driven cache-manager="cacheManager" />  

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">  
        <property name="cacheManager" ref="ehcache"></property>  
    </bean>  

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
        <property name="configLocation" value="classpath:ehcache-setting.xml"></property>  
    </bean>

    <!-- 存放application环境变量，使其在应用范围内生效 -->
    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="index_title" value="#{dbProps.index_title}"></entry>
            </map>
        </property>
    </bean>
</beans>